<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.votesystem.mapper.StaffInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hundsun.votesystem.model.StaffInfo" >
    <id column="id" property="staffId" jdbcType="INTEGER" />
    <result column="si_name" property="siName" jdbcType="VARCHAR" />
    <result column="si_num" property="staffNum" jdbcType="VARCHAR" />
    <result column="si_departid" property="staffDepartid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, si_name, si_num, si_departid
  </sql>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select
    *
    from tstaff_info
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tstaff_info
    where id = #{staffId,jdbcType=INTEGER}
  </select>

  <select id="selectByStaffNum" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tstaff_info
    where si_num = #{staffNum,jdbcType=VARCHAR}
  </select>

  <select id="selectByDepId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tstaff_info
    where si_departid= #{depId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tstaff_info
    where id = #{staffId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hundsun.votesystem.model.StaffInfo" >
    insert into tstaff_info (id, si_name, si_num, 
      si_departid)
    values (#{staffId,jdbcType=INTEGER}, #{siName,jdbcType=VARCHAR}, #{staffNum,jdbcType=VARCHAR}, 
      #{staffDepartid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hundsun.votesystem.model.StaffInfo" >
    insert into tstaff_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        id,
      </if>
      <if test="siName != null" >
        si_name,
      </if>
      <if test="staffNum != null" >
        si_num,
      </if>
      <if test="staffDepartid != null" >
        si_departid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="siName != null" >
        #{siName,jdbcType=VARCHAR},
      </if>
      <if test="staffNum != null" >
        #{staffNum,jdbcType=VARCHAR},
      </if>
      <if test="staffDepartid != null" >
        #{staffDepartid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hundsun.votesystem.model.StaffInfo" >
    update tstaff_info
    <set >
      <if test="siName != null" >
        si_name = #{siName,jdbcType=VARCHAR},
      </if>
      <if test="staffNum != null" >
        si_num = #{staffNum,jdbcType=VARCHAR},
      </if>
      <if test="staffDepartid != null" >
        si_departid = #{staffDepartid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{staffId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hundsun.votesystem.model.StaffInfo" >
    update tstaff_info
    set si_name = #{siName,jdbcType=VARCHAR},
      si_num = #{staffNum,jdbcType=VARCHAR},
      si_departid = #{staffDepartid,jdbcType=INTEGER}
    where id = #{staffId,jdbcType=INTEGER}
  </update>
</mapper>