<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.votesystem.mapper.TstaffVoteMapper" >

  <sql id="Base_Column_List" >
    id, sv_siid, sv_viid, sv_isvoted
  </sql>

  <select id="getVoteInfoIdList"  resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select sv_viid
    from tstaff_vote
    where sv_siid = #{staffId,jdbcType=INTEGER} and sv_isvoted=1
  </select>

  <insert id="insert"  >
    insert into tstaff_vote ( sv_siid, sv_viid)
    values (#{svSiid,jdbcType=INTEGER}, #{svViid,jdbcType=INTEGER})
  </insert>

  <select id="select" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select count (sv_siid)
    from tstaff_vote
    where sv_siid = #{staffId,jdbcType=INTEGER}and sv_viid = #{voteInfroId,jdbcType=INTEGER}
  </select>

  <select id = "isVoted" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select sv_isvoted
    from tstaff_vote
    where sv_siid = #{staffId,jdbcType=INTEGER}and sv_viid = #{voteInfroId,jdbcType=INTEGER}
  </select>

  <update id = "changeVoteStatus" >
    update tstaff_vote
    <set >
      <if test="sv_siid != null and sv_siid != ''" >
        sv_siid = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="sv_viid != null and sv_viid != ''" >
        sv_viid = #{voteInfroId,jdbcType=INTEGER},
      </if>
      <if test="sv_isvoted != null and sv_isvoted != ''" >
        sv_isvoted = 1,
      </if>
    </set>
    where id = #{staffId,jdbcType=INTEGER}
  </update>
</mapper>