<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.votesystem.mapper.VoteSituationInfoMapper" >

  <update id="updateVoteNum"  >
    update tvote_situation_info
    set vsi_num = vsi_num+1
    where vsi_viid = #{voteInfoId,jdbcType=INTEGER}
  </update>
</mapper>