<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.votesystem.mapper.VoteOperationMapper">
    <delete id="deleteVote" parameterType="java.lang.Integer">
        DELETE sv from tstaff_vote sv WHERE sv.sv_viid=#{voteInfoId,jdbcType=INTEGER};
        DELETE vdi from tstaff_vote_detail_info vdi WHERE vdi.svdi_viid=#{voteInfoId,jdbcType=INTEGER};
        DELETE vi from tvote_info vi WHERE vi.id=#{voteInfoId,jdbcType=INTEGER};
        DELETE io from tvote_option_info io WHERE io.voi_viid=#{voteInfoId,jdbcType=INTEGER};
        DELETE si from tvote_situation_info si WHERE si.vsi_viid=#{voteInfoId,jdbcType=INTEGER};
  </delete>
</mapper>